<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
        <h2>About</h2>
        <p>I'm now enrolled in Seneca College's two-year diploma program in computer programming.</p>
        <p>I enjoy exploring new places, trying local cuisine, and meeting new people.</p>
        <p>I belive that the more I socialise the more I learn .</p>
        <p>The jewellery industry is another area I'm becoming interested in these days because I work at Michael Hill
          Jewellers.</p>
        <p>My ultimate ambition in life is to become a prosperous entrepreneur and start my own jewellery business.</p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p class="p-italic">Stay tuned for future updates…</p>
    </aside>
  </div>
</div>