<div class="container" style="padding-top:100px">
    <div class="row">
        <form action="/categories/add" method="POST" class="pt-1">
            <div class="form-group">
                <input required class="form-control" placeholder="Category Name" name="category">
            </div>
            <button type="submit" class="btn btn-success rounded-pill">Submit</button>
        </form>
    </div>
</div>